@import "libs/bootstrap-reboot.min";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

@import "base/mixins";
// @import "base/variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
}
@import "body/btn";
@import "body/promo";
@import "body/header";
@import "body/info";
@import "body/product";
@import "body/room";
@import "body/plant";
@import "body/footer";

@import "base/media";
